<header>
	<nav>
		<div>
			<a href="/overview">Overview</a>
			<div>
				<p>Features</p>
				<div>
					<ul>
						<li><a href="/queues">Queues</a></li>
						<li><a href="/notes">Notes</a></li>
					</ul>
				</div>
			</div>
			<a href="/contacts">Contacts</a>
		</div>
		<div>
			<a href="/sign-up">Sign up</a>
			<a href="/sign-in">Sign in</a>
		</div>
	</nav>
</header>
