<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Students | About</title>
	</head>

	<body>
		<h1>About Students</h1>
		<p>
			<strong>Students</strong> helps students to share and store common materials (books,
			lectures, exam questions, etc.), as well as solve the issue of checking and
			reviewing completed works in the relevant disciplines <strong>in turn</strong>.
		</p>
	</body>
</html>
