<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head.ejs") %>

	<body>
		<%- include("partials/navigation.ejs") %>

		<h1>Contact Me</h1>
		<div>
			<% contactOptions.forEach(option => { %>
			<a href="<%= option.url %>"><%= option.name %> </a>
			<% }) %>
		</div>
	</body>
</html>
