<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head.ejs") %>

	<body>
		<%- include("partials/navigation.ejs") %>

		<h1>
			<strong>Oops...</strong>
		</h1>
		<p>We have something broken 0_o. Please try again later.</p>
	</body>
</html>
