<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head.ejs") %>

	<body>
		<%- include("partials/navigation.ejs") %>

		<h1>
			<strong>Oops...</strong>
		</h1>
		<p>This page is unavailable. Or maybe it never was :/</p>
	</body>
</html>
