<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head.ejs") %>

	<body>
		<%- include("partials/navigation.ejs") %>

		<h1>About Students</h1>
		<p>
			<strong>Students</strong> helps students to share and store common materials (books, lectures, exam
			questions, etc.), as well as solve the issue of checking and reviewing completed works in the relevant
			disciplines <strong>in turn</strong>.
		</p>
		<button>Join the study</button>
	</body>
</html>
