<header class="header">
	<a href="/" class="logo__wrapper" tabindex="0">
		<img src="../img/students-logo.svg" alt="Students logo" class="logo">
	</a>
	<div class="navigation__container">
		<nav class="navigation">
			<div class="navigation__item" tabindex="0">
				<a href="profile" class="navigation__content" tabindex="-1">Profile</a>
			</div>
			<div class="navigation__item" tabindex="0">
				<a href="queue" class="navigation__content" tabindex="-1">Queue</a>
			</div>
			<div class="navigation__item" tabindex="0">
				<a href="archive" class="navigation__content" tabindex="-1">Archive</a>
			</div>
			<div class="navigation__item" tabindex="0">
				<a href="about" class="navigation__content" tabindex="-1">About</a>
			</div>
		</nav>
		<nav class="navigation">
			<div class="navigation__item sign-in" tabindex="0">
				<a href="sign-in" class="navigation__content" tabindex="-1">Sign in</a>
			</div>
			<div class="navigation__item sign-up" tabindex="0">
				<a href="sign-up" class="navigation__content" tabindex="-1">Sign up</a>
			</div>
		</nav>
	</div>
</header>
<div class="separator"></div>
